.dark {
    --bg-color: #171779;
    --inverted-bg-color: #d7ebf3;
    --primary-color: #07ad07;
    --secondary-color: #006400;
    --inverted-primary-color: #546af3;
    --inverted-secondary-color: #22b;
}
