.app.light {
  --bg-color: #d7ebf3;
  --inverted-bg-color: #2626b0;

  --primary-color: #050a28;
  --secondary-color: #2222bb;

  --inverted-primary-color: #07ad07;
  --inverted-secondary-color: #006400;
}