.app-light-theme {
    --bg-color: #fff;
    --inverted-bg-color: #2626b0;
    --primary-color: #1a235b;
    --secondary-color: #22b;
    --inverted-primary-color: #07ad07;
    --inverted-secondary-color: #006400;
}
