.app.light {
  --bg-color: #d7ebf3;
  --inverted-bg-color: #171779;

  --primary-color: #0d196e;
  --secondary-color: #2222bb;

  --inverted-primary-color: #07ad07;
  --inverted-secondary-color: #006400;
}